@import "tailwindcss";

body {
  background-color: rgb(249 250 251);
  color: rgb(17 24 39);
}

.btn-primary {
  background-color: rgb(37 99 235);
  color: white;
}

.btn-primary:hover {
  background-color: rgb(29 78 216);
}